.okeyPost
  font-family: 'Montserrat', sans-serif
  background: #e5e5e572

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: .9375rem
  .nav-link
    margin-left: .9375rem
    color: #1F2428
    font-weight: 600
    font-size: .9375rem
    display: inline-block
    box-sizing: border-box
  .contact
    color: #FFFFFF
    background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
    box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
    border-radius: 2.25rem
    padding: .9375rem 1.8125rem
    display: inline-block
    box-sizing: border-box
    transition: .6s all


  .nav.active
    position: absolute
    top: 4.125rem
    right: .625rem
    display: flex
    align-items: center
    flex-direction: column
    color: #ffffff
    background: #1F2428
    padding: .625rem
    border-radius: 1.875rem
    .nav-link
      color: #FFF
      text-align: left
      margin-bottom: .625rem
      display: inline-block
      box-sizing: border-box
.hamburger
  display: none
  position: relative

.order
  transition: .6s all
  padding: 0 1.5625rem
  .order-info-block
    display: flex
    align-items: center
    justify-content: space-between
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%)
    border-radius: 2.25rem
    padding: 1.25rem
    &_content
      max-width: 50%
      h1
        font-size: 3.5rem
        font-weight: 700
        color: #FFF
      p
        font-size: 1.0625rem
        font-weight: 300
        color: #ffffffac
      button
        cursor: pointer
        color: #FFFFFF
        background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
        box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
        border-radius: 2.25rem
        padding: .9375rem 1.8125rem
        display: inline-block
        box-sizing: border-box
        border: none
        margin-top: 2.1875rem
        transition: .6s all
    &_img
      padding: 1.875rem
      max-width: 35%
      img
        width: 100%


.icons-block
  display: flex
  max-width: 62.5rem
  margin: 6.25rem auto
  box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1)
  border-radius: 1rem
  background: #FFF
  .icons-block-info
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.25rem
    img
      max-width: 50%
    h2
      max-width: 70%
      color: #1F2428
      font-weight: 700
      font-size: 1.125rem

.tryIt
  padding: 6.25rem 3.75rem
  .tryIt-block
    padding: 1.5625rem
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%)
    border-radius: 2.25rem
    display: flex
    align-items: center
    justify-content: space-between
    &_img
      max-width: 40%
      img
        width: 100%
    &_content
      max-width: 55%
      h1
        font-weight: 700
        font-size: 1.875rem
        color: #FFF
      p
        font-weight: 400
        font-size: 1.125rem
        color: #ffffff90
      button
        cursor: pointer
        color: #FFFFFF
        background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
        box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
        border-radius: 2.25rem
        padding: .9375rem 1.8125rem
        display: inline-block
        box-sizing: border-box
        border: none

.simple
  &-block
    &_title
      max-width: 43.75rem
      color: #1F2428
      font-weight: 800
      font-size: 2.75rem
    &_cards
      margin-top: .875rem
      display: grid
      grid-template-columns: repeat(4, 15rem)
      grid-gap: 4.375rem
      img
        border-radius: 2.1875rem
      h1
        color: #1F2428
        font-weight: 700
        font-size: 1.25rem
      p
        color: #1F2428
        font-weight: 300
        font-size: 1rem
    &_desc
      font-weight: 300
      font-size: 1.25rem
      color: #1F2428
      max-width: 47.5rem
      margin-top: 3.75rem
    &_btn
      cursor: pointer
      color: #FFFFFF
      background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
      box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
      border-radius: 2.25rem
      padding: .9375rem 1.8125rem
      display: inline-block
      box-sizing: border-box
      border: none
      margin-top: 1.875rem
















@media screen and(max-width: 45rem)
  .nav
    display: none
  .hamburger
    display: block
  .order
    .order-info-block
      display: flex
      flex-direction: column
      &_content
        max-width: 100%
        h1
          font-size: 2.1875rem
          font-weight: 600
      &_img
        max-width: 50%
        img
          width: 100%
  .icons-block
    margin: 3.125rem 1.25rem
    display: flex
    flex-direction: column


  .tryIt
    padding: 6.25rem 3.75rem
    .tryIt-block
      padding: 1.5625rem
      background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%)
      border-radius: 2.25rem
      display: flex
      flex-direction: column
      &_img
        max-width: 100%
        img
          width: 100%
      &_content
        max-width: 100%
  .simple
    padding: 1.5625rem
    &-block
      &_title
        max-width: 43.75rem
        color: #1F2428
        font-weight: 800
        font-size: 2.75rem
      &_cards
        margin-top: .875rem
        display: grid
        grid-template-columns: repeat(2, 15rem)
        grid-gap: 3.125rem

@media screen and(max-width: 28.125rem)
  .order
    .order-info-block
      display: flex
      flex-direction: column
      &_content
        max-width: 100%
        h1
          font-size: 1.25rem
          font-weight: 400
        p
          font-size: .75rem
          font-weight: 300
      &_img
        max-width: 50%
        img
          width: 100%
  .tryIt
    padding: 3.125rem 1.875rem
    .tryIt-block
      background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%)
      border-radius: 2.25rem
      display: flex
      flex-direction: column
      &_img
        max-width: 100%
        img
          width: 100%
      &_content
        max-width: 100%
        h1
          font-size: 1.25rem
          font-weight: 400
        p
          font-size: .75rem
          font-weight: 300
  .simple
    &-block
      &_title
        color: #1F2428
        font-weight: 500
        font-size: 1.25rem
      &_cards
        margin-top: .875rem
        display: grid
        grid-template-columns: repeat(1, 13.75rem)
        grid-gap: .625rem
        img
          border-radius: 2.1875rem
        h1
          color: #1F2428
          font-weight: 400
          font-size: .9375rem
        p
          color: #1F2428
          font-weight: 300
          font-size: .875rem
      &_desc
        font-weight: 300
        font-size: .875rem
        color: #1F2428
        margin-top: 2.5rem
      &_btn
        cursor: pointer
        color: #FFFFFF
        background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
        box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
        border-radius: 2.25rem
        padding: .9375rem 1.8125rem
        display: inline-block
        box-sizing: border-box
        border: none
        margin-top: 1.875rem