.okeyPost
  font-family: 'Montserrat', sans-serif

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: .9375rem
  .nav-link
    margin-left: .9375rem
    color: #1F2428
    font-weight: 600
    font-size: .9375rem
    display: inline-block
    box-sizing: border-box
  .contact
    color: #FFFFFF
    background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
    box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
    border-radius: 2.25rem
    padding: .9375rem 1.8125rem
    display: inline-block
    box-sizing: border-box

  .nav.active
    position: absolute
    top: 4.125rem
    right: .625rem
    display: flex
    align-items: center
    flex-direction: column
    color: #ffffff
    background: #1F2428
    padding: .625rem
    border-radius: 1.875rem
    .nav-link
      color: #FFF
      text-align: left
      margin-bottom: .625rem
      display: inline-block
      box-sizing: border-box
.hamburger
  display: none
  position: relative

.order
  padding: 0 2.5rem
  .order-info-block
    display: flex
    align-items: center
    justify-content: space-between
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%)
    border-radius: 2.25rem
    padding: 1.25rem
    &_content
      max-width: 50%
      h1
        font-size: 3.5rem
        font-weight: 800
        color: #FFF
      p
        font-size: 1.0625rem
        font-weight: 300
        color: #ffffffac
      button
        color: #FFFFFF
        background:  linear-gradient(90deg, #00C97B 0%, #00D981 96.96%)
        box-shadow: 0rem .25rem .25rem rgba(1, 203, 124, 0.2)
        border-radius: 2.25rem
        padding: .9375rem 1.8125rem
        display: inline-block
        box-sizing: border-box
    &_img
      padding: 1.875rem
      max-width: 35%
      img
        width: 100%








@media screen and(max-width: 40.3125rem)
  .nav
    display: none
  .hamburger
    display: block
  
