@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");
.wrapper {
  font-family: "Montserrat", sans-serif;
  background: #e5e5e53f;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
}
.header .nav-link {
  margin-left: 0.9375rem;
  color: #1F2428;
  font-weight: 600;
  font-size: 0.9375rem;
  display: inline-block;
  box-sizing: border-box;
}
.header .contact {
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.6s all;
}
.header .nav.active {
  position: absolute;
  top: 4.125rem;
  right: 0.625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  background: #1F2428;
  padding: 0.625rem;
  border-radius: 1.875rem;
}
.header .nav.active .nav-link {
  color: #FFF;
  text-align: left;
  margin-bottom: 0.625rem;
  display: inline-block;
  box-sizing: border-box;
}

.hamburger {
  display: none;
  position: relative;
}

.order {
  transition: 0.6s all;
  padding: 0 1.5625rem;
}
.order .order-info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 2.25rem;
  padding: 1.25rem;
}
.order .order-info-block_content {
  max-width: 50%;
}
.order .order-info-block_content h1 {
  font-size: 2.8125rem;
  font-weight: 700;
  color: #FFF;
}
.order .order-info-block_content p {
  font-size: 1.0625rem;
  font-weight: 300;
  color: #ffffffac;
}
.order .order-info-block_content button {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  margin-top: 2.1875rem;
  transition: 0.6s all;
}
.order .order-info-block_img {
  padding: 1.875rem;
  max-width: 35%;
}
.order .order-info-block_img img {
  width: 100%;
}

.icons-block {
  display: flex;
  max-width: 62.5rem;
  margin: 6.25rem auto;
  box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1);
  border-radius: 1rem;
  background: #FFF;
}
.icons-block .icons-block-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}
.icons-block .icons-block-info img {
  max-width: 50%;
}
.icons-block .icons-block-info h2 {
  max-width: 70%;
  color: #1F2428;
  font-weight: 700;
  font-size: 1.125rem;
}

.tryIt {
  padding: 3.75rem;
}
.tryIt .tryIt-block {
  padding: 1.5625rem;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tryIt .tryIt-block_img {
  max-width: 30%;
}
.tryIt .tryIt-block_img img {
  width: 100%;
}
.tryIt .tryIt-block_content {
  max-width: 50%;
}
.tryIt .tryIt-block_content h1 {
  font-weight: 600;
  font-size: 1.5625rem;
  color: #FFF;
  margin-bottom: 1.25rem;
}
.tryIt .tryIt-block_content p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #ffffff90;
  margin-bottom: 1.25rem;
}
.tryIt .tryIt-block_content button {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
}

.simple-block_title {
  max-width: 43.75rem;
  color: #1F2428;
  font-weight: 800;
  font-size: 2.75rem;
}
.simple-block_cards {
  margin-top: 0.875rem;
  display: grid;
  grid-template-columns: repeat(4, 12.5rem);
  grid-gap: 10%;
}
.simple-block_card {
  display: inline-block;
  box-sizing: border-box;
}
.simple-block_card img {
  border-radius: 2.1875rem;
}
.simple-block_card h1 {
  color: #1F2428;
  font-weight: 700;
  font-size: 1.25rem;
}
.simple-block_card p {
  color: #1F2428;
  font-weight: 300;
  font-size: 1rem;
}
.simple-block_desc {
  font-weight: 300;
  font-size: 1.25rem;
  color: #1F2428;
  max-width: 47.5rem;
  margin-top: 3.75rem;
}
.simple-block_btn {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  margin-top: 1.875rem;
}

.virtual {
  padding: 1.25rem;
}
.virtual-items {
  padding: 1.5625rem;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.virtual-img {
  max-width: 30%;
}
.virtual-img img {
  width: 100%;
}
.virtual-content {
  max-width: 50%;
  color: #fff;
}
.virtual-content h1 {
  font-weight: 800;
  font-size: 2.0625rem;
  margin-bottom: 1.25rem;
}
.virtual-content p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.875rem;
}
.virtual-content button {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
}

.customer-top h1 {
  color: #1F2428;
  font-weight: 800;
  font-size: 2.0625rem;
  max-width: 52.125rem;
  margin-bottom: 1.25rem;
}
.customer-top p {
  color: #1F2428;
  font-weight: 300;
  font-size: 1.25rem;
  max-width: 37.75rem;
}
.customer-bottom {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 21.875rem);
  grid-gap: 2.5rem;
}
.customer-card {
  color: #1F2428;
  padding: 1.5625rem;
  background: #FFF;
  box-shadow: 0rem 0rem 4.375rem rgba(138, 138, 138, 0.1);
  border-radius: 1rem;
}
.customer-card h1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  margin-top: 1.875rem;
}
.customer-card p {
  font-weight: 300;
  font-size: 0.875rem;
}

.comment {
  padding-top: 3.75rem;
}
.comment .comment-btn {
  margin-top: 3.125rem;
}
.comment .comment-btn button {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
}
.comment-cards {
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: repeat(2, 37.5rem);
}
.comment-card {
  background: #FFF;
  box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  color: #1F2428;
}
.comment-card_top {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}
.comment-card_top h1 {
  font-weight: 700;
  font-size: 1.125rem;
}
.comment-card_top p {
  font-weight: 300;
  font-size: 1rem;
}
.comment-card_bottom {
  margin-left: 1.25rem;
}
.comment-card_bottom h1 {
  font-weight: 700;
  font-size: 0.875rem;
}
.comment-card_bottom span {
  font-weight: 300;
  font-size: 0.875rem;
}
.comment-card_star {
  color: #FFA009;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}
.comment-card_img {
  max-width: 15rem;
}
.comment-card_img img {
  width: 100%;
}

.adress {
  display: flex;
  flex-direction: column;
  color: #1F2428;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}
.adress-title {
  margin-bottom: 0.75rem;
  font-weight: 800;
  font-size: 2.0625rem;
}
.adress-desc {
  font-weight: 300;
  font-size: 1.125rem;
}

.sub {
  padding: 3.75rem;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 2.25rem;
  margin-top: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-info {
  color: #FFF;
  max-width: 30%;
}
.sub-block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-block-icon {
  font-size: 1.625rem;
  position: absolute;
  top: 1.3125rem;
  left: 0.4375rem;
}
.sub-block-input {
  color: #FFF;
  position: relative;
}
.sub-block-input input {
  background: transparent;
  border: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  padding: 1.65rem;
  text-align: center;
}
.sub-block-input input::placeholder {
  color: #FFF;
}
.sub-block button {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
}

.footer {
  background: #fff;
  padding-top: 7.5rem;
  padding-left: 4.0625rem;
  padding-right: 4.0625rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-column {
  display: flex;
  align-items: left;
  flex-direction: column;
  color: #1F2428;
  line-height: 1.5625rem;
}
.footer-column h1 {
  font-weight: 700;
  font-size: 1rem;
}
.footer-column a {
  font-weight: 300;
  font-size: 0.875rem;
}

.add-user {
  display: grid;
  grid-template-columns: 12.5rem;
  min-height: 100vh;
}

.add-user_block {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

@media screen and (max-width: 81.25rem) {
  .order .order-info-block {
    display: flex;
    flex-direction: column;
  }
  .order .order-info-block_content {
    max-width: 100%;
  }
  .order .order-info-block_content h1 {
    font-size: 2.1875rem;
    font-weight: 600;
  }
  .order .order-info-block_img {
    max-width: 50%;
  }
  .order .order-info-block_img img {
    width: 100%;
  }

  .simple {
    padding: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .simple-block_title {
    max-width: 43.75rem;
    color: #1F2428;
    font-weight: 800;
    font-size: 2.75rem;
  }
  .simple-block_cards {
    margin-top: 0.875rem;
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-gap: 3.125rem;
    justify-content: center;
  }

  .comment {
    padding-top: 3.75rem;
  }
  .comment-cards {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(2, 31.25rem);
  }
  .comment-card {
    background: #FFF;
    box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    color: #1F2428;
  }
  .comment-card_top {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 70.625rem) {
  .customer-bottom {
    margin-top: 2.5rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 12.5rem);
    grid-gap: 2.5rem;
  }

  .comment {
    padding-top: 3.75rem;
  }
  .comment_title {
    padding: 0.9375rem;
  }
  .comment-cards {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(2, 25rem);
  }
  .comment-card {
    background: #FFF;
    box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    color: #1F2428;
  }
  .comment-card_top {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .adress {
    padding: 0.9375rem;
  }

  .sub {
    margin: 1.5625rem;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 2.25rem;
    margin-top: 9.375rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sub-info {
    color: #FFF;
    max-width: 30%;
  }
  .sub-block {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sub-block-icon {
    font-size: 1.625rem;
    position: absolute;
    top: 1.3125rem;
    left: 0.4375rem;
  }
  .sub-block-input {
    color: #FFF;
    position: relative;
    margin-bottom: 0.9375rem;
  }
  .sub-block-input input {
    background: transparent;
    border: none;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    padding: 1.65rem;
    text-align: center;
  }
  .sub-block-input input::placeholder {
    color: #FFF;
  }

  .footer {
    background: #fff;
    padding-top: 7.5rem;
    padding-left: 4.0625rem;
    padding-right: 65px;
    display: grid;
    grid-template-columns: repeat(2, 31.25rem);
    grid-gap: 1.875rem;
  }
  .footer-column {
    display: flex;
    align-items: left;
    flex-direction: column;
    color: #1F2428;
    line-height: 1.5625rem;
    font-size: 0.875rem;
  }
  .footer-column h1 {
    font-weight: 700;
    font-size: 1rem;
  }
  .footer-column a {
    font-weight: 300;
  }
}
@media screen and (max-width: 51.25rem) {
  .icons-block {
    margin: 3.125rem 1.25rem;
    display: flex;
    flex-direction: column;
  }

  .virtual-items {
    padding: 1.5625rem;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 2.25rem;
    display: flex;
    flex-direction: column;
  }
  .virtual-img {
    max-width: 90%;
  }
  .virtual-img img {
    width: 100%;
  }
  .virtual-content {
    max-width: 100%;
    color: #fff;
  }

  .comment {
    padding-top: 3.75rem;
  }
  .comment-cards {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(2, 15.625rem);
  }
  .comment-card {
    background: #FFF;
    box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: #1F2428;
  }
  .comment-card_top {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer {
    background: #fff;
    padding-top: 7.5rem;
    padding-left: 4.0625rem;
    padding-right: 65px;
    display: grid;
    grid-template-columns: repeat(1, 9.375rem);
    grid-gap: 1.875rem;
  }
  .footer-column {
    display: flex;
    align-items: left;
    flex-direction: column;
    color: #1F2428;
    line-height: 1.5625rem;
    font-size: 0.875rem;
  }
  .footer-column h1 {
    font-weight: 700;
    font-size: 1rem;
  }
  .footer-column a {
    font-weight: 300;
  }
}
@media screen and (max-width: 45rem) {
  .nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .tryIt {
    padding: 6.25rem 3.75rem;
  }
  .tryIt .tryIt-block {
    padding: 1.5625rem;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 2.25rem;
    display: flex;
    flex-direction: column;
  }
  .tryIt .tryIt-block_img {
    max-width: 100%;
  }
  .tryIt .tryIt-block_img img {
    width: 100%;
  }
  .tryIt .tryIt-block_content {
    max-width: 100%;
  }

  .customer-top {
    padding: 1.5625rem;
    text-align: center;
  }
  .customer-bottom {
    margin-top: 2.5rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    grid-gap: 2.5rem;
  }

  .comment {
    padding-top: 3.75rem;
  }
  .comment-cards {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(1, 15.625rem);
    justify-content: center;
  }
  .comment-card {
    background: #FFF;
    box-shadow: 0px 0px 4.375rem rgba(138, 138, 138, 0.1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: #1F2428;
  }
  .comment-card_top {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .comment-btn {
    text-align: center;
    justify-content: center;
  }

  .simple {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .simple-block_title {
    margin: 1.5625rem;
    max-width: 43.75rem;
    color: #1F2428;
    font-weight: 500;
    font-size: 1.375rem;
  }
  .simple-block_desc {
    margin: 1.25rem;
  }
  .simple-block_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
  }
  .simple-block_cards {
    margin: 1.5625rem;
    margin-top: 0.875rem;
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    grid-gap: 3.125rem;
    justify-content: center;
  }
  .simple-block_cards img {
    width: 100%;
  }
}
@media screen and (max-width: 28.125rem) {
  .order .order-info-block {
    display: flex;
    flex-direction: column;
  }
  .order .order-info-block_content {
    max-width: 100%;
  }
  .order .order-info-block_content h1 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .order .order-info-block_content p {
    font-size: 0.75rem;
    font-weight: 300;
  }
  .order .order-info-block_img {
    max-width: 50%;
  }
  .order .order-info-block_img img {
    width: 100%;
  }

  .tryIt {
    padding: 3.125rem 1.875rem;
  }
  .tryIt .tryIt-block {
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 2.25rem;
    display: flex;
    flex-direction: column;
  }
  .tryIt .tryIt-block_img {
    max-width: 100%;
  }
  .tryIt .tryIt-block_img img {
    width: 100%;
  }
  .tryIt .tryIt-block_content {
    max-width: 100%;
  }
  .tryIt .tryIt-block_content h1 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .tryIt .tryIt-block_content p {
    font-size: 0.75rem;
    font-weight: 300;
  }

  .simple-block_title {
    color: #1F2428;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .simple-block_cards {
    margin-top: 0.875rem;
    display: grid;
    grid-template-columns: repeat(1, 13.75rem);
    grid-gap: 0.625rem;
  }
  .simple-block_cards img {
    border-radius: 2.1875rem;
  }
  .simple-block_cards h1 {
    color: #1F2428;
    font-weight: 400;
    font-size: 0.9375rem;
  }
  .simple-block_cards p {
    color: #1F2428;
    font-weight: 300;
    font-size: 0.875rem;
  }
  .simple-block_desc {
    font-weight: 300;
    font-size: 0.875rem;
    color: #1F2428;
    margin-top: 2.5rem;
  }
  .simple-block_btn {
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
    border-radius: 2.25rem;
    padding: 0.9375rem 1.8125rem;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    margin-top: 1.875rem;
  }

  .virtual {
    padding: 3.75rem;
  }
  .virtual-items {
    padding: 1.5625rem;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 2.25rem;
    display: flex;
    flex-direction: column;
  }
  .virtual-img {
    max-width: 90%;
  }
  .virtual-img img {
    width: 100%;
  }
  .virtual-content {
    max-width: 100%;
    color: #fff;
  }
  .virtual-content h1 {
    font-weight: 500;
    font-size: 1.375rem;
  }
  .virtual-content p {
    font-weight: 300;
    font-size: 0.875rem;
  }

  .customer-bottom {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, 12.5rem);
    grid-gap: 2.5rem;
    justify-content: center;
  }
}
.sub {
  padding: 3.75rem;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 2.25rem;
  margin-top: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-info {
  color: #FFF;
  max-width: 50%;
}
.sub-info h3 {
  font-weight: 300;
  font-size: 0.875rem;
}
.sub-block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-block-icon {
  font-size: 1.625rem;
  position: absolute;
  top: 1.3125rem;
  left: 0.4375rem;
}
.sub-block-input {
  color: #FFF;
  position: relative;
}
.sub-block-input input {
  background: transparent;
  border: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  padding: 1.65rem;
  text-align: center;
}
.sub-block-input input::placeholder {
  color: #FFF;
}
.sub-block button {
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0rem 0.25rem 0.25rem rgba(1, 203, 124, 0.2);
  border-radius: 2.25rem;
  padding: 0.9375rem 1.8125rem;
  display: inline-block;
  box-sizing: border-box;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.contaner {
  max-width: 73.75rem;
  margin: 0 auto;
}

.error-image {
  width: 100%;
  height: 100vh;
}
.error-image img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
